<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav
			class="navbar navbar-inverse navbar fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<div sec:authorize="isAuthenticated()" style="right: 10px; position: absolute">
						<form th:action="@{/logout}" method="post">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-info" value="Logout">
								</div>
							</div>
						</form>
					</div>
					<div sec:authorize="not isAuthenticated()" style="right: 10px; position: absolute">
						<div class="row">
							<div class="col-sm-12 col-sm-offset-3">
								<a th:href="@{/login}" role="button"> 
									<input type="submit" class="btn btn-info" value="Login" aria-hidden="true">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>