<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " th:href="@{/home}"> <i
					class="oi oi-home"></i> <span th:text="#{sidebar.link.home}"></span>
			</a></li>
		</ul>
		<ul class="nav nav-pills" sec:authorize="!(hasRole('ROLE_AGENCIA') || hasRole('ROLE_ADMIN') || hasRole('ROLE_USER'))">
			<li class="nav-item"><a class="nav-link " th:href="@{/login}"> <i
					class="oi oi-account-login"></i> <span th:text="#{sidebar.link.login}"></span>
			</a></li>
		</ul>
		<div sec:authorize="!hasRole('ROLE_AGENCIA')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.compra}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/compra/listar}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
			</ul>
		</div>

		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.agencia}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/agencia/cadastrar}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrar}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/agencia/listar}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
			</ul>
		</div>

		<div>
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.pacote}"></span></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_AGENCIA')"><a class="nav-link"
					th:href="@{/pacote/cadastrar}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrar}"></span>
					</a></li>

				<li class="nav-item" sec:authorize="hasRole('ROLE_AGENCIA')"><a class="nav-link"
						th:href="@{/pacote/meus-pacotes}"> <i class="oi oi-spreadsheet"></i> <span
							th:text="#{sidebar.link.meupacote}"></span>
						</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/pacote/listar}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
			</ul>
		</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<ul class="nav nav-pills">
				<li class="nav-item"><span class="nav-link active"
					th:text="#{sidebar.titulo.usuario}"></span></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/cliente/cadastrar}"> <i class="oi oi-plus"></i> <span
						th:text="#{sidebar.link.cadastrar}"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/cliente/listar}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}"></span>
				</a></li>
			</ul>
		</div>
		<div>
			<li class="nav-item">
				<div>
			<a th:href="@{''(lang=pt-BR)}"><img alt=""
				th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a> <a
				th:href="@{''(lang=en)}"><img alt=""
				th:src="@{/image/EUA.gif}" style="width: 30px;" /></a></div>
			</li>
		</div>
	</nav>
</body>
</html>