<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{pacote.cadastrar.label}"></span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/pacote/listar}"
				role="button"> <span class="oi oi-spreadsheet" title="Cadastro"
				aria-hidden="true"></span> <span th:text="#{pacote.listar.label}"></span>
			</a>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${pacote.id == null} ? @{/pacote/salvar} : @{/pacote/editar}"
				 method="POST" enctype="multipart/form-data" id="form">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{pacote.cidade.label}" for="cidade"></label> 
						<input type="text" class="form-control" id="cidade" placeholder="Cidade"
							autofocus="autofocus" th:field="${pacote.cidade}" name="cidade"
							th:classappend="${#fields.hasErrors('pacote.cidade')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="${pacote.cidade}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{pacote.estado.label}" for="estado"></label> 
						<input type="text" class="form-control" id="estado" placeholder="Estado"
							autofocus="autofocus" th:field="${pacote.estado}" name="estado"
							th:classappend="${#fields.hasErrors('pacote.estado')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="${pacote.estado}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{pacote.pais.label}" for="pais"></label> 
						<input type="text" class="form-control" id="pais" placeholder="País"
							autofocus="autofocus" th:field="${pacote.pais}" name="pais"
							th:classappend="${#fields.hasErrors('pacote.pais')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="${pacote.pais}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{pacote.dataPartida.label}" for="partida"></label> 
						<input type="date" class="form-control" id="partida" placeholder="Data de Partida"
							autofocus="autofocus" th:field="${pacote.partida}" name="partida"
							th:classappend="${#fields.hasErrors('pacote.partida')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="${pacote.partida}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{pacote.duracao.label}" for="duracao"></label> 
						<input type="text" class="form-control" id="duracao" placeholder="Duração"
							autofocus="autofocus" th:field="${pacote.duracao}" name="duracao"
							th:classappend="${#fields.hasErrors('pacote.duracao')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="${pacote.duracao}"></span>
						</div>
					</div>


					<div class="form-group col-md-6">
						<label th:text="#{pacote.preco.label}" for="preco"></label> 
						<input type="text" class="form-control" id="preco" placeholder="Preço" name="preco"
							data-mask="000000,00" data-mask-reverse="true" th:field="${pacote.preco}" 
							th:classappend="${#fields.hasErrors('pacote.preco')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="${pacote.preco}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{pacote.descricao.label}" for="descricao"></label> 
						<input type="text" class="form-control" id="descricao" placeholder="Descrição"
							autofocus="autofocus" th:field="${pacote.descricao}" name="descricao"
							th:classappend="${#fields.hasErrors('pacote.descricao')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="${pacote.descricao}"></span>
						</div>
					</div>

					<div th:if="${pacote.id != null}"class="form-group col-md-6">
						<label th:text="#{pacote.imagem.label}" for="imagem"></label>
						<div th:each="imagem, i : ${pacote.imagens}" >
							<div th:id="${'imagem' + imagem.id}">
							<img th:src="@{/imagem/display/{id} (id=${imagem.id}) }" width="100" height="100">
							<a onclick="apagaImagem(this)"
							th:id="${imagem.id}" name="imagemDelete"
							class="btn btn-danger btn-sm" ><span class="oi oi-trash"></a>
							</div>
						</div>
						<input type="hidden" id="apagadas" name="apagadas" value=""/>
					</div>

					

					<div class="form-group col-md-6 preview"></div>
					
					<div class="form-group col-md-6">
							<input type="file" th:value="${imagemFile}" name="imagemFile" multiple
							accept="image/png, image/jpeg" max-size="2000" id="upload">		
					</div>

				<div th:if="${pacote.id != null}">
					<input type="hidden" id="agencia" th:field="${pacote.agencia}" name="agencia" />
				</div>
				<input type="hidden" id="id" th:field="${pacote.id}" name="id" />
				<input type="hidden" id="imagens" th:field="${pacote.imagens}" name="imagens" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
